* {
  font-family: 'Roboto', sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  z-index: 99;
  width: 100%;
  color: white;
  margin: 0 auto;
  padding: 120px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.spacer {
  height: 100vh;
}

section {
  width: 40%;
  grid-column: 2 / 8;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}
